.table-dark {
    border-collapse: separate;
    border-spacing: 0;
}

.table-dark thead th,
.table-dark td,
.table-dark th {
    border: none !important;
}

.table-dark tbody tr {
    background-color: #242a30;
    margin-bottom: 4px;
}

.selection-role{
    height: 40px;
    border-radius: 4px
}
.selection-text {
    color: #dee2e6;
}